# Energy Dataset Feature Engineering

In [40]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
import pandas_profiling

In [41]:
df_loaded = pd.read_csv("../Part2_Exploratory_Data_Analysis/energydata_complete_cleaned.csv")
df = df_loaded

In [42]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2,NSM,day_of_week,week_status
0,2016-01-11 22:20:00,400,20,21.6,44.766667,20.890000,44.223333,20.5000,45.933333,19.696667,...,735.966667,87.666667,6.333333,40.0,3.733333,24.677065,24.677065,80400,0,1
1,2016-01-11 22:30:00,390,30,21.6,44.560000,20.963333,43.963333,20.5000,45.790000,20.096667,...,736.050000,87.500000,6.500000,40.0,3.750000,9.310880,9.310880,81000,0,1
2,2016-01-11 22:40:00,240,20,21.6,44.360000,21.000000,43.833333,20.5000,45.730000,20.596667,...,736.133333,87.333333,6.666667,40.0,3.766667,41.368666,41.368666,81600,0,1
3,2016-01-11 22:50:00,60,20,21.6,44.200000,21.000000,43.700000,20.5000,45.590000,20.996667,...,736.216667,87.166667,6.833333,40.0,3.783333,33.423337,33.423337,82200,0,1
4,2016-01-11 23:00:00,60,20,21.6,44.200000,21.000000,43.590000,20.4175,45.545000,21.166667,...,736.300000,87.000000,7.000000,40.0,3.800000,39.711993,39.711993,82800,0,1

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16808 entries, 0 to 16807
Data columns (total 32 columns):
date           16808 non-null object
Appliances     16808 non-null int64
lights         16808 non-null int64
T1             16808 non-null float64
RH_1           16808 non-null float64
T2             16808 non-null float64
RH_2           16808 non-null float64
T3             16808 non-null float64
RH_3           16808 non-null float64
T4             16808 non-null float64
RH_4           16808 non-null float64
T5             16808 non-null float64
RH_5           16808 non-null float64
T6             16808 non-null float64
RH_6           16808 non-null float64
T7             16808 non-null float64
RH_7           16808 non-null float64
T8             16808 non-null float64
RH_8           16808 non-null float64
T9             16808 non-null float64
RH_9           16808 non-null float64
T_out          16808 non-null float64
Press_mm_hg    16808 non-null float64
RH_out         16808 non-null float64
Windspeed      16808 non-null float64
Visibility     16808 non-null float64
Tdewpoint      16808 non-null float64
rv1            16808 non-null float64
rv2            16808 non-null float64
NSM            16808 non-null int64
day_of_week    16808 non-null int64
week_status    16808 non-null int64
dtypes: float64(26), int64(5), object(1)
memory usage: 4.1+ MB

In [44]:
df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2,NSM,day_of_week,week_status
count,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,...,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000
mean,93.776773,3.522727,21.556967,39.982769,20.040407,40.498662,22.133051,39.064144,20.725292,38.736855,...,755.827755,80.652536,4.053424,38.411871,3.413021,25.046649,25.046649,40848.155640,2.921228,0.737446
std,100.164810,7.629485,1.408360,3.625608,1.778716,3.708957,1.778750,3.130073,1.818792,4.168480,...,7.042373,13.527929,2.466052,11.874992,3.946533,14.487974,14.487974,24839.139841,1.975149,0.440035
min,10.000000,0.000000,18.000000,31.426667,16.200000,29.890000,17.790000,29.800000,15.690000,29.727143,...,735.933333,32.000000,0.000000,1.000000,-6.500000,0.005322,0.005322,0.000000,0.000000,0.000000
25%,50.000000,0.000000,20.700000,37.230000,18.760000,38.000000,20.760000,36.790000,19.533333,35.400000,...,751.233333,71.666667,2.000000,29.000000,0.733333,12.584626,12.584626,19200.000000,1.000000,0.000000
50%,60.000000,0.000000,21.500000,39.400000,19.790000,40.425833,22.066667,38.400000,20.600000,38.200000,...,756.200000,84.000000,3.666667,40.000000,3.150000,24.942051,24.942051,39600.000000,3.000000,1.000000
75%,90.000000,0.000000,22.390000,42.530000,21.166667,43.169500,23.200000,41.000000,21.856667,41.590000,...,761.100000,91.500000,5.666667,40.000000,6.066667,37.634201,37.634201,61800.000000,5.000000,1.000000
max,1080.000000,50.000000,25.356667,51.633333,25.560000,51.200000,27.035818,49.030000,25.926667,51.063333,...,772.300000,100.000000,14.000000,66.000000,14.950000,49.996530,49.996530,85800.000000,6.000000,1.000000

In the dataset:
* There are columns with a scope of transformation, like WeekStatus and Days_of_week.
* There is no null data in the dataset.
* Also, date column is not required because NSM column already got interpreted from this.

### Transformation of WeekStatus and Days_of_week columns

In [45]:
week_status = pd.get_dummies(df['week_status'], prefix = 'week_status')
day_of_week = pd.get_dummies(df['day_of_week'], prefix = 'day_of_week')
#['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
#['Weekend', 'Weekday']

# Concat above dummies variable dataframe to the main dataframe
df = pd.concat((df,week_status),axis=1)
df = pd.concat((df,day_of_week),axis=1)

# Drop the WeekStatus and Day_of_week column
df = df.drop(['week_status','day_of_week'],axis=1)

In [46]:
df = df.rename(columns={'week_status_0': 'Weekend', 'week_status_1': 'Weekday',
                   'day_of_week_0': 'Monday', 'day_of_week_1': 'Tuesday', 'day_of_week_2': 'Wednesday',
                  'day_of_week_3': 'Thursday', 'day_of_week_4': 'Friday', 'day_of_week_5': 'Saturday',
                  'day_of_week_6': 'Sunday'})

## Pandas Profiling

There is a library that gives a high level overview -- https://github.com/JosPolfliet/pandas-profiling

In [47]:
# pandas_profiling.ProfileReport(df_loaded)

From the above warnings, following can be deduced:
* Dropping the highly correlated attributes:
    * T9, Temperature in parents room and T7, Temperature in ironing room (ρ = 0.94478)
        * T9 is matter of importance, hence considering to **drop T7**
    * T_out, Temperature outside (from Chièvres weather station) and T6, Temperature outside the building (north side) (ρ = 0.97479)
        * As RH_out is more in correlation with 'Appliances' as compared to RH_6, considering to **drop T6**
    * rv2, Random Variable 2 and rv1, Random Variable 1 (ρ = 1)
        * As both of these attributes are equal, considering to **drop rv1**
    * date column and NSM column provides similar information.
        * Therefore considering to **drop date**

In [48]:
df = df.drop(['T7', 'T6', 'rv1','date'],axis=1)

### Redefining the Appliances column
> As the task is to understand the energy conumption, adding the consumption of lights to the appliances as a whole

In [49]:
df['Appliances'] = df['Appliances'] + df['lights']
df = df.drop(['lights'],axis=1)

In [50]:
# Exporting the transformed dataset
df.to_csv('energydata_complete_transformed.csv', index=False)